html
  head
    meta(charset="UTF-8")
    title Подтверждение почты
  body
    h1 Подтверждение электронной почты
    p Введите следующий код для подтверждения вашей электронной почты:
    h2= code

    p Спасибо, что зарегистрировались! Чтобы завершить процесс, пожалуйста, введите вышеуказанный код в поле на сайте для подтверждения вашей почты.
