html
  head
    meta(charset="UTF-8")
    title Восстановление пароля
  body
    h1 Восстановление пароля
    p Введите следующий код для восстановления доступа к вашему аккаунту:
    h2= code

    p Если вы запрашивали восстановление пароля, пожалуйста, введите указанный выше код в соответствующее поле на сайте.
    p Если вы не отправляли запрос на восстановление пароля, просто проигнорируйте это письмо.